<%= form_for @proyecto, url: proyectos_path do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cliente %><br>
    <%= f.text_field :cliente %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_field :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_field :end_date %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, options_for_select([['Asignado', 'Asignado'], ['Development', 'Development'], ['Production', 'Production'], ['Entregado', 'Entregado']]) %>
  </div>
  <div class="field">
    <%= f.label :bitacora_del_proyecto %><br>
    <%= f.text_area :bitacora_del_proyecto, rows: 4 %>
  </div>
  <div class="actions">
    <%= f.submit "Crear Proyecto" %>
  </div>
<% end %>
