<section class="proyecto-details">
  <div class="row">
    <div class="col-md-8">
      <h2><%= @proyecto.name %></h2>
      <h3>Cliente: <%= @proyecto.cliente %></h3>
      <p><strong>Fecha de inicio:</strong> <%= @proyecto.start_date.strftime("%d %b %Y") %></p>
      <p><strong>Fecha de finalización:</strong> <%= @proyecto.end_date.strftime("%d %b %Y") %></p>
      <p><strong>Estado:</strong> <%= @proyecto.status %></p>
      <p><strong>Bitácora del Proyecto:</strong> <%= @proyecto.bitacora_del_proyecto %></p>
    </div>
    <div class="col-md-4">
      <%= link_to "Editar", edit_proyecto_path(@proyecto), class: "button btn btn-outline-secondary" %>
    </div>
  </div>
</section>
