<div id="<%= dom_id inventory %>">
  <p>
    <strong>Name:</strong>
    <%= inventory.name %>
  </p>
  <p>
    <strong>Model:</strong>
    <%= inventory.model %>
  </p>
  <p>
    <strong>Serial number:</strong>
    <%= inventory.serial_number %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= inventory.status %>
  </p>
  <p>
    <strong>Entry date:</strong>
    <%= inventory.entry_date %>
  </p>
  <p>
    <strong>Equipment id number:</strong>
    <%= inventory.lynx_id_number %>
  </p>
  <p>
    <strong>Purchase price:</strong>
    <%= inventory.purchase_price %>
  </p>
  <p>
    <strong>Current cost:</strong>
    <%= inventory.current_cost %>
  </p>
  <p>
    <strong>Warranty expiration:</strong>
    <%= inventory.warranty_expiration %>
  </p>
</div>
