<p style="color: green"><%= notice %></p>
<%= render @inventory %>
<div class="col-md-4" style="margin-bottom: 20px;">
  <%= link_to "Editar", edit_inventory_path(@inventory), class: "button btn btn-outline-secondary" %>
</div>
<% if @inventory.status == "Disponible" %>
  <button id="assign-equipment-link" type="button" class="btn btn-primary mb-2"> Asignar Equipo  </button>
  <div id="assign-equipment-form" style="display: none; margin-bottom: 20px;">
    <%= render 'tasks/assign_equipment_form', task: @task, inventory: @inventory, task_type: 'assignment' %>
  </div>
<% elsif @inventory.status == "Asignado" %>
  <button id="extract-equipment-link" type="button" class="btn btn-primary mb-2"> Extraer Equipo  </button>
  <div id="extract-equipment-form" style="display: none; margin-bottom: 20px;">
    <%= render 'tasks/extract_equipment_form', task: @task, inventory: @inventory, task_type: 'extraction' %>
  </div>
<% end %>
<script>
  document.addEventListener("turbo:load", function() {
    const assignEquipmentLink = document.getElementById("assign-equipment-link");
    const assignEquipmentForm = document.getElementById("assign-equipment-form");
    const extractEquipmentLink = document.getElementById("extract-equipment-link");
    const extractEquipmentForm = document.getElementById("extract-equipment-form");

    if (assignEquipmentLink) {
      assignEquipmentLink.addEventListener("click", function() {
        assignEquipmentForm.style.display = "block";
        extractEquipmentForm.style.display = "none";
      });
    }

    if (extractEquipmentLink) {
      extractEquipmentLink.addEventListener("click", function() {
        extractEquipmentForm.style.display = "block";
        assignEquipmentForm.style.display = "none";
      });
    }
  });
</script>
