<%= form_with(model: employee) do |f| %>
  <%= render "shared/errors", object: @employee %>
  <div class="form-row">
    <div class="form-column">
      <%= f.label :nombre, class: 'label-display-block' %>
      <%= f.text_field :nombre, autofocus: true, class: 'form-control' %>
    </div>
    <div class="form-column">
      <%= f.label :apellido, class: 'label-display-block' %>
      <%= f.text_field :apellido, class: 'form-control' %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-column">
      <%= f.label :nacionalidad, class: 'label-display-block' %>
      <%= f.text_field :nacionalidad, class: 'form-control' %>
    </div>
    <div class="form-column">
      <%= f.label :estado_civil, class: 'label-display-block' %>
      <%= f.select :estado_civil, ['Soltero', 'Casado', 'Union Libre', 'Divorciado', 'Viudo'], prompt: 'Seleccione Estado Civil', class: 'form-control' %>
    </div>
  </div>
  <%= f.fields_for :address do |address_fields| %>
    <%= render "addresses/nested_form", f: address_fields %>
    <%= render "shared/errors", object: address_fields.object %>
  <% end %>
  <div class="form-row" style="width: 503px;">
    <%= f.label :contrato, "Estatus", class: 'label-display-block' %>
    <div class="radio-options">
      <%= f.collection_radio_buttons :contrato, [['Activo', 'activo'], ['No Activo', 'no-activo']], :second, :first, item_wrapper_class: 'radio-inline', class: 'radio-input' %>
    </div>
  </div>
  <div class="form-row" style="width: 503px;">
    <div class="form-column">
      <%= f.label :developer, "Tipo de Developer", class: 'label-display-block' %>
      <%= f.text_field :developer, class: 'form-control' %>
    </div>
    <div class="form-column">
      <%= f.label :dni, "Documento de Identidad", class: 'label-display-block' %>
      <%= f.text_field :dni, class: 'form-control' %>
    </div>
    <div class="form-column">
      <%= f.label :rtn, "Documento Fiscal", class: 'label-display-block' %>
      <%= f.text_field :rtn, class: 'form-control' %>
    </div>
  </div>
  <div class="form-row" style="width: 503px;">
    <%= f.submit "Agregar Perfil del Empleado" %>
  </div>
<% end %>
