<%= form_with(model: @task, url: assign_equipment_task_path, method: :post) do |form| %>
  <%= render "shared/errors", object: task %>
  <div style="margin-bottom: 20px;">
    <%= form.label :date_of_assignment, style: "display: block" %>
    <%= form.date_field :date_of_assignment %>
  </div>
  <div style="margin-bottom: 20px;">
    <%= form.label :equipment_log, "Bitácora del Equipo", style: "display: block" %>
    <%= form.text_area :equipment_log %>
  </div>
  <div style="margin-bottom: 20px;">
    <%= form.label :assigned_by_id, "Asignado por: ", style: "display: block" %>
    <%= form.select :assigned_by_id, options_for_select(User.all.map { |user| [user.username, user.id] }), {}, class: "form-control" %>
  </div>
  <div style="margin-bottom: 20px;">
    <%= form.label :assigned_to, "Asignar a Empleado", style: "display: block" %>
    <%= form.select :employee_id, options_for_select(Employee.all.map { |e| ["#{e.nombre} #{e.apellido}", e.id] }), {}, class: "form-control" %>
  </div>
  <div>
    <%= form.submit "Asignar Equipo" %>
  </div>
<% end %>
