<div id="<%= dom_id task %>">
  <p>
    <strong>Date of assignment:</strong>
    <%= task.date_of_assignment %>
  </p>

  <p>
    <strong>Date of extraction:</strong>
    <%= task.date_of_extraction %>
  </p>

  <p>
    <strong>Equipment log:</strong>
    <%= task.equipment_log %>
  </p>

  <p>
    <strong>Assigned by:</strong>
    <%= task.assigned_by %>
  </p>

</div>
