<div class="page-container-empleados">
  <%= form_tag(empleados_path, method: "get", id: "filter-form-empleados", remote: true, class: "d-flex justify-content-center align-items-center") do %>
    <%= text_field_tag :search, '', class: 'form-control mr-2', placeholder: "Busqueda...", onkeydown: "clickSubmit()", style: 'flex:1' %>
    <%= select_tag "filter", options_for_select(['Seleccione Filtro', 'Tipo de Contrato', 'Developer', 'Ciudad']), class: 'custom-select mr-2', style: 'flex:1' %>
    <div class="d-flex">
      <%= submit_tag "Buscar", class: "btn btn-primary filter-button", id: 'search_submit', style: 'display:none'%>
    </div>
  <% end %>
  <div class="table-container">
    <table class="Empleados-table table">
      <thead>
        <tr>
          <th style="background-color: #470247; color: #ededed; font-weight: bold;">Nombre</th>
          <th style="background-color: #470247; color: #ededed; font-weight: bold;">Apellido</th>
          <th style="background-color: #470247; color: #ededed; font-weight: bold;">Nacionalidad</th>
          <th style="background-color: #470247; color: #ededed; font-weight: bold;">Estado Civil</th>
          <th style="background-color: #470247; color: #ededed; font-weight: bold;">Ubicación </th>
          <th style="background-color: #470247; color: #ededed; font-weight: bold;">Tipo de Contrato</th>
          <th style="background-color: #470247; color: #ededed; font-weight: bold;">Developer</th>
          <th style="background-color: #470247; color: #ededed; font-weight: bold;">DNI</th>
          <th style="background-color: #470247; color: #ededed; font-weight: bold;">RTN</th>
          <th colspan="2" style="background-color: #470247; color: #ededed; font-weight: bold;">Acciones de Empleado</th>
        </tr>
      </thead>
      <tbody>
        <% @empleados.each do |empleado| %>
          <tr>
            <td style="color: #000000;">
              <%= empleado.nombre %>
            </td>
            <td style="color: #000000;"><%= empleado.apellido %></td>
            <td style="color: #000000;"><%= empleado.nacionalidad %></td>
            <td style="color: #000000;"><%= empleado.estado_civil %></td>
            <td style="color: #000000;">
              <%= "#{empleado.city.name}, #{empleado.city.region.name}, #{empleado.city.region.country.name}" %>
            </td>
            <td style="color: #000000;"><%= empleado.contrato %></td>
            <td style = "color:#00000;"> <%= empleado.developer%>
              <td style="color: #000000;"><%= empleado.dni %></td>
              <td style="color: #000000;"><%= empleado.rtn %></td>
              <td>
                <%= link_to "Editar", edit_empleado_path(empleado), class: "btn btn-primary" %>
              </td>
              <td>
                <%= link_to "Eliminar", empleado_path(empleado), method: :delete, data: { confirm: 'Estás seguro de que quieres eliminar este empleado? Esta acción no se puede deshacer.' }, class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to "Crear Nuevo Empleado", new_empleado_path(@empleados), class: "btn btn-primary square-button btn-block btn-lg", "data-bs-toggle": "button", role: "button" %>
  </div>
  <div id = "empleado-info-container">
    <%= render 'empleados/profile' %>
  </div>
  <%# Define Script function %>
  <script>
    function clickSubmit() {
      $("#search_submit").trigger("click");
    }
  </script>
