<%= form_for @project, url: @project.new_record? ? projects_path : project_path(@project.id) do |f| %>
  <%= render "shared/errors", object: @project %>
  <!-- Editable fields -->
  <div>
    <%= f.label :name, "Nombre del Proyecto" %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :cliente %><br>
    <%= f.text_field :cliente %>
  </div>
  <div>
    <%= f.label :start_date, "Fecha de Asignación" %><br>
    <%= f.date_field :start_date %>
  </div>
  <div>
    <%= f.label :status %><br>
    <%= f.select :status, options_for_select([['Asignado', 'Asignado'], ['Development', 'Development'], ['Production', 'Production'], ['Entregado', 'Entregado']]) %>
  </div>
  <div>
    <%= f.label :detalles_del_proyecto %><br>
    <%= f.text_area :detalles_del_proyecto, rows: 4 %>
  </div>
  <div>
    <%= f.label :end_date, "Fecha de Finalización" %><br>
    <%= f.date_field :end_date %>
  </div>
  <div style="margin-bottom: 10px;">
    <%= f.submit @project.new_record? ? 'Crear proyecto' : 'Actualizar proyecto' %>
  </div>
<% end %>
