<section class="project-details">
  <div class="row">
    <div class="col-md-8">
      <h2><%= @project.name %></h2>
      <h3>Cliente: <%= @project.cliente %></h3>
      <p><strong>Fecha de inicio:</strong> <%= @project.start_date.strftime("%d %b %Y") %></p>
      <p><strong>Fecha de finalización:</strong> <%= @project.end_date.strftime("%d %b %Y") %></p>
      <p><strong>Estado:</strong> <%= @project.status %></p>
      <p><strong>Bitácora del project:</strong> <%= @project.bitacora_del_proyecto %></p>
    </div>
    <div class="col-md-4">
      <%= link_to "Editar", edit_project_path(@project), class: "button btn btn-outline-secondary" %>
    </div>
  </div>
</section>
