<div class="form-row">
  <%= f.label :country, "Pais", class: "display-block" %>
  <select name="employee[address_attributes][country]" id="country" class="form-select">
    <% if params[:action] == "edit" && @employee.address.present? %>
      <% selected_country = selectedCountry(@employee)&.to_sym %>
      <option value="<%= selected_country %>"><%= selected_country %></option>
    <% end %>
  </select>
</div>
<div class="form-row">
  <%= f.label :state, "Departamento", class: "display-block" %>
  <select name ="employee[address_attributes][state]" id="state" class = "form-select">
    <% if params[:action] == "edit" && @employee.address.present? %>
      <% selected_state = selectedState(@employee)&.to_sym%>
      <%= selectedState(@employee) %>
      <option value="<%= selected_state %>"><%= selected_state %></option>
    <% end %>
  </select>
</div>
<div class="form-row">
  <%= f.label :city, "Ciudad", class: "display-block" %>
  <select name ="employee[address_attributes][city]" id="city" class = "form-select">
    <% if params[:action] == "edit" && @employee.address.present? %>
      <%= selected_city = selectedCity(@employee)&.to_sym %>
      <option value="<%= selected_city %>"><%= selected_city %></option>
    <% end %>
  </select>
</div>
<script>
  document.addEventListener("turbo:load", function () {
    const countrySelector = document.getElementById("country");
    const stateSelector = document.getElementById("state");
    const citySelector = document.getElementById("city");

    const getData = function (request) {
      return new Promise(function (resolve, reject) {
        const xhr = new XMLHttpRequest();
        xhr.open("GET", request, true);
        xhr.getResponseHeader("Content-type", "application/json");

        xhr.onload = function () {
          const obj = JSON.parse(this.responseText);
          resolve(obj);
        };
        xhr.send();
      });
    };

    getData("/addresses/countries").then(function (result) {
      Object.keys(result).forEach((country, index) => {
        const option = document.createElement("option");
        option.setAttribute("value", country);
        option.innerHTML = result[country];
        countrySelector.add(option, null);
      });
    });

    countrySelector.onchange = function (event) {
      getData("/addresses/states?country=" + event.target.value).then(function (result) {
        Object.keys(result).forEach((state, index) => {
          const option = document.createElement("option");
          option.setAttribute("value", state);
          option.innerHTML = result[state];
          stateSelector.add(option, null);
        });
      });
    };

    stateSelector.onchange = function (event) {
      getData("/addresses/cities?state=" + event.target.value).then(function (result) {
        Object.keys(result).forEach((city, index) => {
          const option = document.createElement("option");
          option.setAttribute("value", city);
          option.innerHTML = result[city];
          citySelector.add(option, null);
        });
      });
    };

    // Use different variable names to avoid conflicts
  const selectedCountryValue = "<%= selectedCountry(@employee)&.to_sym %>";
  const selectedStateValue = "<%= selectedState(@employee)&.to_sym %>";
  const selectedCityValue = "<%= selectedCity(@employee)&.to_sym %>";

  if (selectedCountryValue) {
  countrySelector.value = selectedCountryValue;
  }

  if (selectedStateValue) {
  stateSelector.value = selectedStateValue;
  }

  if (selectedCityValue) {
  citySelector.value = selectedCityValue;
  }

    if (selectedCountryValue) {
      countrySelector.value = selectedCountryValue;
    }

    if (selectedStateValue) {
      stateSelector.value = selectedStateValue;
    }

    if (selectedCityValue) {
      citySelector.value = selectedCityValue;
    }
  });
</script>
<div class="form-row">
  <%= f.label :address_line_1, "Colonia", class: "display-block" %>
  <%= f.text_field :address_line_1, class: "form-control" %>
</div>
